*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #0a6bc0;
}
.sidebar{
    color: rgb(255, 255, 255);
    font-size: 3vw;
    cursor: pointer;
}
.headerAdm{
    background-color: #035AA6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15vh;
    padding: 5px;
    box-shadow: 0px 3px 9px #041321;
    position: sticky;
    top: 0;
    z-index: 99;
}
.btnExit{
    cursor: pointer;
    height: 40px;
    width: 100px;
    background-color: #123F67;
    color: white;
    border: 1px solid white;
    font-size: 1.5vw;
    border-radius: 10px;
}
.btnExit:hover{
    box-shadow: -1px 2px 6px;
    transition: .4s;
}
.leftContent{
    display: flex;
    align-items: center;
}
.adminName h2{
    color: white;
}
#content-main{
    margin-top: 40px;
}
.tool{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    transition: .4s ease-in-out;
}
.tools-admin a{
    text-decoration: none;
    color: white;
}
.tool:hover{
    background-color: #0a6bc0;
}
.offcanvas{
    background-color: #00203D;
    color: white;
}
.tools-admin{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.btn-close{
    background-color: red;
}
.admin-list{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 14px;
    flex-direction: column;
}
.admin-list .icon{
    font-size: 4vw;
}
.list{
    background-color: #123F67;
    border-radius: 5px;
}

/* tools de admin */
.containerTop{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: white;
    padding: 10px;
}
.textContainer h4{
    font-size: 4vw;
}
.iconContainer .iconDash{
    font-size: 3vw;
}
.card-body{
    position: relative;
}
.iconSearch{
    position: absolute;
    top: 48px;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    font-size: 2vw;
    background-color: transparent;
    border: 0;
}

/*Forúm echo*/
.containerForum{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px
}
.containerForum .iconForum{
    font-size: 3vw;
    animation: animateIconForum infinite 2s;
}
.cardSTopic{
    display: flex !important;
    flex-direction: row;
    align-items: center;
}
.iconSearchTopic{
    position: absolute;
    top: 0;
    left: -30px;
    cursor: pointer;
}
.containerMsgForm{
    height: 0 !important;
    width: 0 !important;
    overflow: hidden;
    visibility: hidden;
    transition: .4s ease-in-out;
    font-size: 0;
}
.containerMsgForm.openChat{
    height: 30vh !important;
    width: 100% !important;
    overflow: visible;
    visibility: visible;
    font-size: 2vw;
}
.cardMsg{
    z-index: 9;
}
 .cardPostForm{
    background-color: #035AA6;
    color: white;
    border-bottom: 2px solid #000;
}
.post{
    background-color: #123F67;
}
.contentResponses{
    background-color: #123F67;
    color: white;
    border: 1px solid white;
}
.cardDigitResp{
    background-color: #123F67;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.textR{
    color: rgb(255, 255, 255)3F67;
    width: 100%;
}
.textR::placeholder{
    color: rgb(255, 255, 255);
}
.resp, .textR{
    padding: 0px 15px 25px;
}
.resps{
    height: 0;
    overflow: hidden;
    transition: .4s ease-in-out;
}
.resps.ativeResps{
    height: 55vh;
    overflow: visible;
    overflow-y: scroll;
}
.reps.ativeResps .resp{
    height: 300px;
    overflow: visible;
}
.reps .resp{
    height: 0;
    overflow: hidden;
}
.iconSend{
    font-size: 3vw;
}
.btnResp:hover .iconResp{
    animation: animateIconForum .4s ease-in-out;
}
.responses-container{
    z-index: 9;
    position: relative;
}

@keyframes animateIconForum {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0px);
    }
}