.banner{
    background-color: #035AA6;
    color: rgba(255, 255, 255, 0.719);
    padding: 20px;
}
.imglogoHome{
    height: 100px;
}
.dataUserHome{
    position: relative;
    height: 200px;
    width: 35%;
    display: flex;
    justify-content: flex-end;
    padding: 15px;
    border-radius: 15px;
    background-color: white;
    border: 1px solid;
    transition: .2s ease-in-out;
    backdrop-filter: blur(1px);
}
.iconInfo{
    position: absolute;
    top: 0;
    color: white;
    border: none;
    background-color: #000051;
    border-radius: 20px;
}
.formAddBio{
    width: 100%;
}
.dataUserHome.ativeBio{
    width: 95%;
}
.dataUserHome.ativeBio .bio{
    overflow: visible;
    width: 95%;
}
.iconEditBio{
    top: 0;
    position: absolute;
    left: 2px;
    background: transparent;
    border: transparent;
    color: white;
}
.bio{
    height: 51%;
    width: 0%;
    overflow: hidden;
}
.bio #bioAdd{
    height: 100%;
    background-color: #ffffff;
    color: #000000;
}
#bioAdd::placeholder{
    color: rgba(0, 0, 0, 0.521);
}
.iconAddBio{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.iconAddB{
    font-size: 3vw;
    color: #000000;
}
.card-publication{
    display: flex;
    justify-content: space-between;
}
.like, .coments{
    display: flex;
    align-items: center;
    gap: 10px;
}
.likeIcon, .commentIcon, .shareIcon{
    font-size: 3vw;
    cursor: pointer;
}
.likeIcon{
    color: #004887;
}
.likeIcon:active{
    animation: effectLike .4s ease-in-out;
}
.likeIcon.likeUp{
    color: #000000;
}
.tagSA{
    background-color: rgba(0, 0, 0, 0.39);
    padding: 5px;
    border-radius: 5px;
}
pre{
    background-color: rgba(0, 0, 0, 0.781);
    border: 3px solid rgba(0, 0, 0, 0.363);
    backdrop-filter: blur(1px);
    color: white;
    border-radius: 10px;
    padding: 5px;
}
@keyframes effectLike {
    from{
        transform: scale(1.5);
    }
    to{
        transform: scale(1.0);
    }
}

.actionBtn{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contentPost{
    position: relative;
    z-index: 8;
}
.main-content{
    padding-bottom: 25%;
}
.formPost{
    margin-top: 50px;
}
.headerPublic{
    background-color: #004887;
    color: rgba(255, 255, 255, 0.692);
    display: flex;
    flex-direction: column;
}
.btnAddPost{
    display: flex;
    align-items: center;
    gap: 5px;
}
.lead a{
    display: flex;
    width: 160px;
    text-decoration: none;
}
#Options a{
    text-decoration: none;
    color: white;
}
#Options h3{
    border: 1px solid transparent;
    padding: 5px;
    transition: .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border-radius: 10px;
}
#Options a h3:hover{
    border: 1px solid white;
}
.content-feedbackSystem{
    height: 100vh;
}
#mensagemContact{
    height: 150px;
}
.side-home-icon{
    position: sticky;
    top: 93px;
    background-color: #297bc4;
    padding: 10px;
    z-index: 9;
    gap: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 3px solid #ffffff4f;
}
.side-home-icon a{
    text-decoration: none;
}
.side-home-icon li{
    list-style: none;
    color: white;
    font-size: 18px;
    padding: 15px;
    cursor: pointer;
    display: flex;
    gap: 10px;
    align-items: center;
    transition: .4s ease-in-out;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.596);
}
.side-home-icon li:hover{
    background-color: white;
    color: #004887;
    opacity: .8;
}
.side-home{
    font-size: 3vw;
    color: white;
    width: 50%;
    cursor: pointer;
    opacity: 0.4;
    transition: .3s ease-in;
}
.side-home:hover{
    opacity: 1;
}
.formSearchPosts{
    display: flex;
    gap: 10px;
}
.tagStyle{
    padding: 5px;
    border-radius: 5px;
    background-color: #00488798;
    color: white;
}
.textMob{
    display: none;
}
.textPesq{
    padding-top: 10px;
    color: rgba(255, 255, 255, 0.781);
    height: 15vh;
}

.photPerfil{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.photo{
    height: 75%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #004887b5;
    border-radius: 10px;
    border: 1px solid #ffffff78;
}
.formPhoto{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.btn-dark{
    display: flex;
    gap: 5px;
}
.windowPhot{
    height: 0;
    overflow: hidden;
    background-color: #035aa680;
    backdrop-filter: blur(1px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .4s ease-in-out;
}
.windowPhot.ativeWindowPhoto{
    height: 100vh;
    overflow: visible;
}
.imgUser{
    height: 100%;
    border-radius: 10px;
}
.Name-foto{
    display: flex;
    gap: 10px;
}
.fotoUserPost{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.imgUserPost{
    object-fit: cover;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    border: 1px solid white;
}
.dataPost{
    display: flex;
    justify-content: space-between;
}
.btnLike{
    border: transparent;
    background-color: transparent;
}
.btnAtiveComments{
    border: transparent;
    background-color: transparent;
}
.windowComments{
    display: flex;
    justify-content: center;
    background-color: #ffffff67;
    height: 0;
    overflow: hidden;
    backdrop-filter: blur(1px);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    transition: .4s cubic-bezier(0.56, -0.04, 0.03, 1.6);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.windowComments.ativeWindowComments{
    height: 100vh;
    overflow: visible;
}
.localComments{
    overflow-y: scroll;
    height: 460px;
    position: relative;
    background-color: white;
    width: 95%;
    padding: 20px;
    border-radius: 20px 20px 0 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.btnCloseComments{
    border: transparent;
    background-color: transparent;
}
.btnCloseComments:hover{
    animation: closeBtnAnim .4s;
}
.iconCloseComments{
    margin-top: 15px;
    color: #6c016c;
    font-size: 4vw;
    cursor: pointer;
}
.form-comment{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    background-color: white;
}
.localText{
    width: 100%;
    display: flex;
    justify-content: center;
}
.coment-input{
    bottom: 31px;
    padding-right: 45px;
    width: 90%;
    padding: 10px;
}
.btnSendComment{
    border: transparent;
    background: transparent;
}
.sendComment{
   font-size: 3vw;
   color: #000051;
}
pre{
    width: 100%;
}
.side-home-icon{
    top: 90px;
}
.imgUserComent{
    height: 70px;
    width: 70px;
    object-fit: cover;
    border-radius: 50px;
    transition: .4s ease-in-out;
}
img.imgUserComent:hover{
    border: 1px solid black;
}
.nameAuthorComment:hover {
    border: 1px solid #3F51B5;
    transition: .4s ease-in-out;
}
.commentsTools{
    position: absolute;
    right: 0;
    top: 0;
    margin: 5px;
    height: 90%;
}
.btnToolsComments{
    border-radius: 50%;
    width: 40px;
    display: flex;
    justify-content: center;
    background-color: #370037a1;
}
.btnToolsComments:hover{
    background-color: #370037a1;
    border: 1px solid #370037;
}
.btnToolsComments:active{
    background-color: #370037c5 !important;
}
.contentEditComment{
    height: 100vh;
}
.CommentStyle{
    position: relative;
    display: grid;
    grid-template-columns: 17% 67% 1fr;
    align-items: center;
    background: #ddddff;
    color: #370037;
    border-radius: 15px;
    font-size: 1.7vw;
}
.userInfoComment{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    border-radius: 20px;
    padding: 8px;
}
.nameAuthorComment{
    border: 1px solid #4a004a;
    padding: 3px;
    border-radius: 5px;
    font-size: 1vw;
}
.containerComments{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#postTool{
    position: absolute;
    right: 0;
    margin: 5px;
    border: none;
    top: 0;
    border-radius: 50px;
    color: #890707;
    background-color: black;
}
.dropdown-toggle::after{
    display: none;
}
.tools{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: flex-end;
    justify-content: space-between;
}
.quantLikes{
    font-size: 1vw;
    margin-left: 4px;
}
.content{
    font-size: 1vw;
    padding: 10px;
}
.likeBtnSmall{
    border: 0;
    background-color: transparent;
}
.likeBtnSmall:active{
    transform: scale(1.3);
}
.likeComment{
    opacity: .5;
}

.btnBanTool{
    cursor: pointer;
}
.btnSendBan{
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.formSearchUser{
    width: 100%;
}
.body-biography-card{
    overflow-y: scroll;
    height: 250px;
}
/*swiper*/
.swiperContainer{
    height: 200px;
}
@keyframes closeBtnAnim {
    from{
        transform: translateY(5px);
    }   
    to{
        transform: translateY(0);
    }
}

@media(max-width: 430px){
    .side-home-icon{
        top: 100px;
    }
    .localComments{
        height: 480px !important;
    }
}
@media(max-width: 680px){
    .quantLikes{
        font-size: 2.5vw;
    }
    .content{
        font-size: 3vw;
    }
    .imgUserComent{
        height: 11vw;
        width: 11vw;
    }
    .tagStyle{
        padding: 2px;
    }
    .formSearchUser{
        width: 100%;
    }
    #btnBan .iconBan{
        font-size: 10vw;
    }
    .nameAuthorComment{
        font-size: 3vw;
    }
    .form-comment{
        width: 100%;
    }
    .CommentStyle{
       font-size: 3vw;
    }
    .iconCloseComments{
        font-size: 10vw;
        margin-top: 13vh;
    }
    .btnSendComment{
        bottom: 43px;
    }
    .sendComment{
        font-size: 10vw;
    }
    .localComments{
        width: 100%;
        height: 680px;
    }
    .dataUserHome{
        width: 45%;
        justify-content: center;
    }
    #bioAdd.form-control{
        height: 183px;
    }
    .card-text{
        text-align: center;
    }
    .card-body{
        display: flex;
        flex-direction: column;
    }
    .iconAddB{
        font-size: 10vw;
    }
    .dataUserHome.ativeBio{
        flex-direction: column-reverse;
        height: 100%;
    }
    .likeIcon, .commentIcon, .shareIcon{
        font-size: 6vw;
    }
    .card-publication{
        flex-direction: column;
    }
    .textBtn{
        display: none;
    }
    #btnFilterPoster{
        text-align: center;
        font-size: 10px;
        height: 10vw;
    }
    .textMob{
        display: flex;
    }
    .accountIcon{
        font-size: 10vw;
    }
    .bannerPicture{
        flex-direction: column;
    }
    .cardPhot{
        object-fit: contain;
        height: 180px;
        border-radius: 10px;
    }
    #iconCloseProfile{
        font-size: 10vw;
    }
    .imgUser{
        height: 130px;
    }
    .dataPost{
        display: flex;
        gap: 20px;
        flex-direction: column;
        align-items: center;
    }   
}


