.banner{
    background-color: #035AA6;
    color: rgba(255, 255, 255, 0.719);
    padding: 20px;
    margin-bottom: 20px;
}
.card-publication{
    display: flex;
    justify-content: space-between;
}
.like, .coments{
    display: flex;
    align-items: center;
    gap: 10px;
}
.likeIcon, .commentIcon, .shareIcon{
    font-size: 3vw;
    cursor: pointer;
}
.likeIcon.likeUp{
    color: #035AA6;
    animation: effectLike .4s ease-in-out;
}
@keyframes effectLike {
    from{
        transform: scale(1.5);
    }
    to{
        transform: scale(1.0);
    }
}

.actionBtn{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contentPost{
    position: relative;
    z-index: 9;
}
.main-content{
    padding-bottom: 25%;
}
.formPost{
    height: 100vh;
    margin-top: 50px;
}
.headerPublic{
    background-color: #004887;
    color: rgba(255, 255, 255, 0.692);
}
.btnAddPost{
    display: flex;
    align-items: center;
    gap: 5px;
}
.lead a{
    display: flex;
    width: 160px;
    text-decoration: none;
}
#Options a{
    text-decoration: none;
    color: white;
}
#Options h3{
    border: 1px solid transparent;
    padding: 5px;
    transition: .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border-radius: 10px;
}
#Options a h3:hover{
    border: 1px solid white;
}
.content-feedbackSystem{
    height: 100vh;
}

@media(max-width: 680px){
    .likeIcon, .commentIcon, .shareIcon{
        font-size: 6vw;
    }
    .card-publication{
        flex-direction: column;
    }
}