@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,200&family=Itim&family=Maitree:wght@200;300;400;500;600;700&display=swap');

body{
    background-color: #94C6F2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0%;
    font-family: 'Inter';
}
#Central{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: auto;
    height: auto;
    border-radius: 15px;
    font-size: 1vw;
    padding: 0 3vw 8vw 3vw;
    box-shadow: 2px 2px  rgb(120, 120, 120);
}
#frst-sp{
    background-color: #035AA6;
    width: 40vw;
    height: 0.2vw;
}
#scnd-sp{
    margin-top: 1vw;
    background-color: #035AA6;
    width: 30vw;
    height: 0.2vw;
}
#thrd-sp{
    margin-top: 1vw;
    background-color: #035AA6;
    width: 20vw;
    height: 0.2vw;  
}
#form-login{
    margin-top: 1vw;
    display: flex;
    flex-direction: column;
}
.input-lgn  {
    width: 30vw;
    height: 2vw;
    border-radius: 5px;
    border: 1px solid;
}
label{
    margin:2vw 0 0 0;
}
.spn-name{
    display: flex;
    font-size: 1vw;
    margin-bottom: 0.3vw;
}
#forgort-pass{
    margin-top: 0.5vw;
    color: gray;
    text-decoration: none;
    font-size: 0.8vw;
}
#btn{
    background-color: #035AA6;
    color: white;
    border: none;
    border-radius: 7px;
    width: 14vw;
    height: 2.5vw;
    margin: 5px;
    font-size: 1.2vw;
    cursor: pointer;
}
#btns{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:15px ;
    gap: 2.3vw;
}