.responseComments, .btnResponse, .btnInfoRes{
    font-size: 1vw;
    background-color: transparent;
    border: transparent;
}
.btnRes{
    border-bottom: 1px solid transparent;
}
.btnRes:hover{
    transition: .2s;
    border-bottom: 1px solid black;
}
.responsesArea{
    height: 0;
    overflow: hidden;
    display: flex;
    margin-top: 7px;
    gap: 5px;
    align-items: center;
}
.btnInfoRes, .responseComments{
    padding: 5px;
    transition: .1s;
}
.btnInfoRes:hover, .responseComments:hover {
    background-color: #6e6eff;
    padding: 5px;
    color: white;
    border-radius: 10px;
}
.responsesArea.ativeAreaResponses{
    height: 90px;
    overflow: visible;
}
.responseTextarea{
    width: 100%;
}
.imgResponseSmall{
    height: 3vw;
    width: 3vw;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid transparent;
    transition: .4s ease-in-out;
}
.imgResponseSmall:hover{
    border: 1px solid rgb(255, 140, 140);
}
#cancelResponse{
    font-size: 1vw;
}
.smallText{
    font-size: 1vw;
}
.btnCancelRes{
    background-color: transparent;
    border: transparent;
}
.area-resp{
    height: 0;
    overflow: hidden;
}
.area-resp.ativeAreaResp{
    height: auto;
    overflow: visible;
}
.responsesComment{
    display: flex;
    align-items: center;
    gap: 5px;
}
.imgIconNone{
    font-size: 3vw;
}
.previewLikes{
    display: flex;
    align-items: center;
    font-size: 2vw;
}
.windowLikes{
    position: fixed;
    left: 0;
    right: 0;
    height: 0;
    bottom: 0;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: flex-end;
    transition: .2s;
    z-index: 9999;
}
.windowLikes.ativeDataLikes{
    height: 100vh;
    overflow: visible;
}
.dataLikes{
    width: 90%;
    padding: 10px;
}
.closeWindowLikes{
    color: red;
}
.btnIcon{
    border: none;
    background-color: transparent;
}
.contentLikes{
    overflow-y: scroll;
    height: 0;
    transition: .5s;
}
.windowLikes.ativeDataLikes .dataLikes .contentLikes{
    height: 350px;
}
.itemLikes{
    display: flex;
    align-items: center;
    gap: 10px;
}
@media(max-width: 680px){
    .dataLikes{
        width: 100%;
        height: 55vh;
    }
    .imgIconNone{
        font-size: 2vw;
    }
    .responseComments{
        font-size: 2.9vw;
    }
    .btnRes, .btnInfoRes{
        font-size: 3vw;
    }
    .imgResponseSmall{
        height: 10vw;
        object-fit: cover;
        width: 10vw;
    }
    .imgIconNone{
        font-size: 10vw;
    }
    .smallText{
        font-size: 2.8vw;
    }
}