<footer id="Footer">
        <div id="Informations">
            <div id="About">
                <h2 >Sobre a echo:</h2>
                <h3 id="">Uma rede social para compartilhar
                <table></table>e aprender programação.
                <table></table>Junte-se a nós!</h3>
            </div>
            <div id="Follow">
                <h2>Siga-nos:</h2>
                <div id="imgs-follow">
                    <img src="../assets/images/github-logo.png" alt="Github" width="50vw">
                    <img src="../assets/images/linkedin.png" alt="Linkedin" width="50vw">
                </div>
            </div>
        </div>
        <span class="line"></span>
        <div id="Links">
                <h2>Home</h2>
                <h2>Login</h2>
                <h2>Cadastro</h2>
                <h2>Contato</h2>
        </div>
        <span class="line"></span>
        <div id="Developers">
            <h3>© 2024 Echo. Desenvolvido por Lucas e Leonardo.</h3>
            <img src="../assets/images/logotipoECHO.png" alt="" width="150vw">
        </div>
        
    </footer>
