{{!-- Header --}}
<header class="headerAdm">
    <div class="leftContent">
        <div class="icon">
            <a data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
            <span class="material-symbols-outlined sidebar">
                view_sidebar
            </span>
            </a>
        </div>
        <div class="icon">
            <img src="/assets/images/logotipoECHO.png" alt="" height="100px">
        </div>
    </div>
    {{!-- Nome do admin logado no sistma --}}
    <div class="adminName">
        <h2>Seja bem vindo (admin)</h2>
    </div>
    {{!-- Botão para sair da área de admin --}}
    <div class="rightContent">
        <a href="/user/landingPage"><button class="btnExit">Sair</button></a>
    </div>
</header>