<header id="Header">
    <a href="/user/home">
        <div id="Logo"><img class="imglogoHome" src="/assets/images/logotipoECHO.png" alt=""></div>
    </a>
    <div id="Options">
        <h3 class="Text_Options">Sobre</h3>
        <h3 class="Text_Options">Recursos</h3>
        <a href="/user/contact">
            <h3 class="Text_Options">Contato</h3>
        </a>
        {{#if (eq nomeuser.role "admin")}}
            <a href="/admin/dashboard"><button id="Login_signin_btn">Perfil</button></a>
        {{else if (eq nomeuser.role "SUPER_ADMIN")}}
            <a href="/admin/dashboard"><button id="Login_signin_btn">Perfil</button></a>
        {{else if (eq nomeuser.role "user")}}
            <a href="/user/perfil"><button id="Login_signin_btn">Perfil</button></a>
        {{else}}
            <a href="/user/login"><button id="Login_signin_btn">Login/Sign in</button></a>
        {{/if}}
    </div>
</header>