<header id="Header">
    <div id="Logo">Echo</div>
    <div id="Options">
        <h3 class="Text_Options">Sobre</h3>
        <h3 class="Text_Options">Recursos</h3>
        <h3 class="Text_Options">Contato</h3>
        <a href="/user/login"><button id="Login_signin_btn">Log in / Sign in</button></a>
    </div>
</header>