{{!-- Topo da página --}}
<div class="containerTop ">
    <div class="iconContainer">
        <span class="material-symbols-outlined iconDash">
            manage_accounts
        </span>
    </div>
    <div class="textContainer">
        <h4>Gerenciar Usuários</h4>
    </div>
</div>
{{!-- Barra de pesquisa de usuários --}}
<div class="container mt-4">
    <form action="" method="get">
        <div class="card">
            <div class="card-header">
                <h4>Buscar usuário específico no sistema</h4>
            </div>
            <div class="card-body">
                <label for="searchUser">Pesquise um usuário</label>
                <input type="text" class="form-control" name="searchUser" id="searchUser">
                <button class="iconSearch" type="submit">
                    <span class="material-symbols-outlined ">
                        search
                    </span>
                </button>
            </div>
        </div>
    </form>
</div>
{{!-- Conteúdo da página --}}
<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h4>Gerenciar usuários </h4>
        </div>
        <div class="card-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis officiis sunt hic quidem repudiandae laudantium debitis aut provident nostrum molestias quo quos dolorem numquam maxime, explicabo fuga recusandae? Nulla, officia?
        </div>
    </div>
</div>