<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ECHO Connect - sobre</title>
    
</head>

<body id="bodyAbout">
    <div class="contentBanner">
        <div class="jumbotron topAbout jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Transformando Conexões em Conhecimento</h1>
                <hr>
                <p class="lead">O ECHO Connect é uma rede social inovadora projetada para conectar estudantes, programadores e entusiastas da tecnologia em um ambiente colaborativo. Nosso objetivo é unir pessoas que compartilham o desejo de aprender, ensinar e crescer juntas em suas jornadas tecnológicas.</p>
            </div>
            <div class="localImgAbout">
                <img src="/assets/images/banners/imgAbout.png" alt="">
            </div>
        </div>
        <hr>
        <section id="features">
            <div class="container">
                <h1>Funcionalidades principais</h1>
                <ul>
                    <hr>
                    <li class="list-group-item">
                        <h3>Compartilhamento de Projetos</h3>
                        <p>Publique seus projetos diretamente na plataforma, incluindo descrições, tecnologias utilizadas, status de desenvolvimento e links para repositórios. Receba feedback valioso da comunidade e colabore para melhorar suas ideias.</p>
                        <span class="material-symbols-outlined">
                            share
                        </span>
                    </li>
                    <hr>
                    <li class="list-group-item">
                        <h3>Organização de Conhecimentos</h3>
                        <p>Crie um perfil focado na sua jornada tecnológica. Compartilhe dicas, anotações e recursos para ajudar a comunidade a aprender e crescer.</p>
                        <span class="material-symbols-outlined">
                            network_intelligence
                        </span>
                    </li>
                    <hr>
                    <li class="list-group-item">
                        <h3>Criar grupos de estudos</h3>
                        <p>Crie Grupos de estudos e adicione suas conexões!</p>
                        <span class="material-symbols-outlined">
                            groups
                        </span>
                    </li>
                    <hr>
                    <li class="list-group-item">
                        <h3>Postar seus projetos</h3>
                        <p>Área dedicada a postagem de projetos, os outros poderam ter acesso aos detalhes dos seus projetos.</p>
                    </li>
                    <span class="material-symbols-outlined">
                        publish
                    </span>
                </ul>
            </div>
        </section>
        <section>
        </section>
    </div>
</body>

</html>