<div class="contentBanner bg-light">
    <div class="jumbotron bg-light p-3">
        <h1 class="display-4">Olá, {{nomeuser.nameuser}}!</h1>
        <p class="lead">Estamos sempre melhorando! Descubra como você pode compartilhar seus projetos e interagir com outros usuários na nossa nova funcionalidade.</p>
        <hr class="my-4">
        <ul class="list-group">
            <li class="list-group-item">
                <a href="#userTools"># Publicações de projetos - 15/04/2025</a>
            </li>
        </ul>
    </div>
    <hr>
    <section id="userTools" class="itemResource">
        <div class="card shadow-sm">
            <h3 class="p-3 text-center">Publicações de Projetos</h3>
            <div class="card-header">
                <h4>Como funciona?</h4>
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-center mb-4">
                    <span class="material-symbols-outlined mark text-primary" style="font-size: 64px;">
                        code
                    </span>
                </div>
                <p>Com a funcionalidade de <strong>publicações de projetos</strong>, você pode:</p>
                <ul>
                    <li>Compartilhar seus projetos diretamente na plataforma.</li>
                    <li>Adicionar descrições detalhadas.</li>
                    <li>Receber feedback e interagir com outros usuários.</li>
                </ul>
                <p>É fácil começar:</p>
                <ol>
                    <li>Acesse a aba de <strong>Postagens</strong> no menu principal.</li>
                    <li>Preencha os campos com o título do projeto, descrição e demais informações.</li>
                    <li>Clique em <strong>Publicar</strong> para compartilhar com a comunidade.</li>
                </ol>
            </div>
            <div class="card-footer text-center">
                <a href="/user/postProject" class="btn btn-primary">Começar a Publicar</a>
            </div>
        </div>
    </section>
</div>
