 <div id="Register">
    <h1>Conecte-se e Compartilhe Conhecimento</h1>
    <div id="Btns">
        <button class="Btn_register">Entrar</button>
        <button class="Btn_register">Criar Conta</button>  
    </div>
</div>

<div id="Descrition">
    <img src="../assets/images/logotipoECHO.png" alt="" id="img_desc">
    <h1>Echo é uma rede social focada na educação, onde você pode compartilhar ideias, aprender com outros e expandir seus horizontes. Participe de uma comunidade dedicada ao crescimento pessoal e coletivo, trocando conteúdos e experiências que fazem a diferença.</h1>
</div>
