<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/css/swiper-bundle.min.css">
    <script src="https://unpkg.com/scrollreveal"></script>
</head>
<body>
    <div id="Register">
    <h1>Conecte-se e Compartilhe Conhecimento</h1>
    <p class="d-flex justify-content-center text-center text-light" style="--bs-text-opacity: .5;">Estamos apenas começando! Junte-se à revolução do aprendizado colaborativo.</p>
    <div id="Btns">
        <div class="imgNeural">
            <img src="/assets/images/neural.png" class="imglp" alt="">
        </div>
    </div>
</div>

<div id="Descrition">
    <img class="effectImg" src="../assets/images/logotipoECHO.png" alt="" id="img_desc">
    <h1 class="effectText">Echo é uma rede social focada na educação, onde você pode compartilhar ideias, aprender com outros e expandir seus horizontes. Participe de uma comunidade dedicada ao crescimento pessoal e coletivo, trocando conteúdos e experiências que fazem a diferença.</h1>
</div>
<div id="detailsInfo">
    <div id="sliders">
      <div class="textDetails">
        <div class="contentText">
          <h3>Descubra tudo o que o ECHO Connect tem a oferecer: funcionalidades para conectar, aprender e compartilhar conhecimento de forma intuitiva e interativa!</h3>
        </div>
      </div>
      <div class="swiper mySwiperLP">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img class="imgSliderLP" src="/assets/images/banners/img01.png" alt="">
          </div>
          <div class="swiper-slide">
            <img class="imgSliderLP" src="/assets/images/banners/img02.png" alt="">
          </div>
          <div class="swiper-slide">
            <img class="imgSliderLP" src="/assets/images/banners/img03.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="btnRegisterLP">
      <a href="/user/register" class="text-decoration-none">
        <button class="btn-cad"><span class="textBtn">Cadastre-se</span></button>
      </a>
    </div>
</div>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="/js/swiper-bundle.min.js"></script>
<script src="/js/swiper.js"></script>
<script src="/js/reveal.js"></script>
</body>
</html>


