<div id="Central">
        <h1>Bem vindo ao ECHO, faça seu login para começar</h1>
        <span id="frst-sp"></span>
        <span id="scnd-sp"></span>
        <span id="thrd-sp"></span>
        <form action="/user/login" id="form-login" method="post">
            <label for="email">
                <span class="spn-name">Email:</span>
            </label>
            <input type="email" name="useremail" id="mail" class="input-lgn">

            <label for="password">
                <span class="spn-name">Senha:</span>
            </label>
            <input type="password" name="userpass" id="password" class="input-lgn">
            <a href="/user/resetPassword" id="forgort-pass">Esqueci a senha</a>
            <div id="btns">
                <button type="submit" id="btn">Login</button>
            </div>
        </form>
        <a href="/user/register"><button id="btn">Criar Conta</button></a>
        
    </div>
    