<div id="Central">
    <h1>Bem vindo ao ECHO, faça seu login para começar</h1>
    <div class="lines">
        <span id="frst-sp"></span>
        <span id="scnd-sp"></span>
        <span id="thrd-sp"></span>
    </div>

    <form action="/user/register" id="form-signin" method="post">
        <label for="name">
            <span class="spn-name">Nome Completo:</span>
        </label>
        <input type="text" name="username" id="name" class="input-lgn">

        <label for="name-user">
            <span class="spn-name">Nome de Usuário:</span>
        </label>
        <input type="text" name="nameuser" id="nameuser" class="input-lgn">

        <label for="usermail">
            <span class="spn-name">Email:</span>
        </label>
        <input type="email" name="useremail" id="mail" class="input-lgn">

        <label for="password">
            <span class="spn-name">Senha:</span>
        </label>
        <input type="password" name="userpass" id="password" class="input-lgn">

        <label for="repeat-pass">
            <span class="spn-name">Repetir a senha:</span>
        </label>
        <input type="password" name="repeatPassword" id="rpt-pass" class="input-lgn">
        
        <label for="birthday">
            <span class="spn-name">Data de Nascimento:</span>
        </label>
        <input type="date" name="birthdayuser" id="user-brth" class="input-lgn">
        
        <div id="btns">
            <button type="submit" class="btnL">Criar Conta</button>
        </div>
    </form>
    <a href="/user/login"><button type="submit" class="btnL">Login</button></a>
    
</div>