<div class="container content-reset-pass">
    <div class="card">
        <div class="card-header">
            <h3>Redefinição de senha</h3>
        </div>
        <form action="/user/resetPassword" method="post">
            <div class="card-body">
                <div class="mb-3">
                    <label for="useremail">Informe seu E-mail de acesso ao ECHO Connect:</label>
                    <input type="email" placeholder="E-mail" name="useremail" class="form-control">
                </div>
            </div>
            <div class="card-footer d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </form>
    </div>
</div>